/* Element Ansprache: 1Punkt */
p {
    background-color: #00A8EF;
}

/* Klassen Ansprache: 10 Punkte */

.text {
    background-color: green;
}

#text {
    background-color: red;
}

/*Pseudo Selektoren*/

div > p { /*hier wird jedes p in einem div angesprochen*/
    font-size: 30px;
}