

h1{
    font-size: 100px;
    text-align: center;
    border-bottom: 1px solid ;
    margin-bottom: 30px;
    padding-bottom: 40px;

}

.container {
    background-color: #f5f5f5;
    border-color: #ededed;
    color: #4d4d4d;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ;
    font-size: 14px;
    border: 1px solid ;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#eingabe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 25px;
    text-align: center;
    border: 1px solid ;
}

ul{
    list-style: none;
}
.checkbox{
    float: left;
    display: inline;
}
.delete{
    float: right;
    display: block;
    margin-left: 20px;
}
.listitem {
    display: inline;

}
.liste {
    margin-top: 20px;
    border-top: 0.5px solid ;
    border-bottom: 0.5px solid ;
}

