.box{
    position: absolute;
    left: 0;
    width: 200px;
    height: 250px;
    background-color: green;

    transition-property: all;
    transition-duration: 5s;
    transition-timing-function: ease;
}

.box:hover{
    height: 500px;
    background-color: red;
}