@import "colors";


.box{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: $background;
  color: $color;
  font-size: 14px;
  display: block;
  height: 100%;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  /* Linien Farbe noch ergänzen */
}
.box__title{
  background-color: $background;
  color: $color;
}
.box__add{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 50px;
  text-align: center;
  padding: 2px;
  font-size: 20px;

}
.box__underline{
}

.todolist{

}
.todolist__firstli{
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 5px;
}

.todolist__checkbox{
  flex-basis: auto;
  flex-grow: 1;
}

.todolist__listitem{
  height: 25px;
  flex-basis: 70%;
  text-align: center;
}

.todolist__button{
  flex-basis: auto;
  flex-grow: 1;

}
.todolist__secondli{
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 5px;

}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}