$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-mobile: 400px;





@mixin responsive ($media){
  @if $media == tablet {
  @media only screen and (min-width: $breakpoint-tablet) { @content; }

}
  @if $media == desktop {
  @media only screen and (min-width: $breakpoint-desktop) { @content}
}
  @if $media == mobile {
  @media only screen and (min-width: $breakpoint-mobile) {@content}


}
}
h1 {
  color: hotpink;

  @include responsive ("mobile") {
    color: green;
  }

  @include responsive ("tablet"){
    color: red;
  }

  @include responsive ("desktop"){
    color: blue;
  }
}

